.proyect-container {
    height: 20rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: -2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-container {
    border-radius: 10px;
    width: 15rem;
    height: 17rem;
    background-color: white;
    padding: 2rem;
    margin-top: 2rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    background-color: white;
}

.card-image {
    max-width: 12rem;
    height: 7.5rem;
    margin-top: -2rem;
}

.tech-list {
    list-style: none;
}

.card-text-container {
    margin-top: -1rem;
    background-color: white;
}

.card-title {
    font-size: 0.8rem;
    font-weight: bold;
    background-color: white;  
    margin-left: -0.6rem;
}

.card-info {
    font-size: 0.7rem;   
    margin-top: -0.3rem;
    margin-left: -0.6rem;
    color: rgb(65, 65, 65);
    background-color: white;
}

.tech-list {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.tech-item {
    display: flex;
    flex-direction: row;
    background-color: rgb(227, 227, 227);
    color: rgb(153, 153, 153);
    font-size: 0.9rem;
    margin-top: 1rem;
    padding: 0rem 0.2rem;
    font-weight: bold;
}

.proyects-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 720px) and (min-height: 360px){
    .card-container {
        border-radius: 5px;
    }

    #Proyects hr {
        margin-top: 15rem;
    }

    .proyects-title {
        font-size: 3.5rem;
    }

    .proyect-container {
        display: flex;
        flex-direction: column;
        height: 100rem;
        margin-top: 5rem;
    }

    .card-container {
        width: 30rem;
        height: 34rem;
        margin-top: 3rem;
        padding: 3rem;
    }

    .image-container {
        height: 16rem;
    }

    .card-image {
        max-width: 24rem;
        height: 15rem;
    }
    
    .card-title {
        font-size: 1.6rem;
        margin-left: 0;
    }
    
    .card-info {
        font-size: 1.4rem;   
        margin-left: 0;
        color: rgb(65, 65, 65);
        background-color: white;
    }

    .tech-list {
        margin-top: 2.6rem;
    }

    .tech-item {
        font-size: 1.7rem;
        padding: 0rem 0.4rem;
        margin: 1rem;
        border-radius: 3px;
    }
}