.proyect-container {
    height: 20rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: -2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-container {
    border: 1px solid black;
    border-radius: 10px;
    width: 13rem;
    height: 15rem;
    background-color: white;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    background-color: white;
}

.card-image {
    max-width: 12rem;
    height: 7.5rem;
}

.tech-list {
    list-style: none;
}

.card-text-container {
    margin-top: -0.2rem;
    background-color: white;

}

.card-title {
    font-size: 0.9rem;
    font-weight: bold;
    background-color: white;  
}

.card-info {
    font-size: 0.8rem;   
    margin-top: -0.6rem;
    color: rgb(65, 65, 65);
    background-color: white;
}

.tech-list {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.tech-item {
    display: inline-block;
    background-color: rgb(227, 227, 227);
    color: rgb(153, 153, 153);
    font-size: 0.8rem;
    padding: 0rem 0.2rem;
    font-weight: bold;
}

.proyects-title {
    display: flex;
    justify-content: center;
    align-items: center;
}