.bio {
    margin-left: 7.7rem;
    width: 30rem;
    height: 10rem;
}

.bio h3 {
    font-size: 25px;
}

.bio p {
    font-size: 1.3vw;
}


.tecnologies {
    height: 6rem;
}

.tec-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tec-items ul{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
}

.tec-items li{
    font-family: "Raleway",sans-serif;
    font-size: 1.3rem;
}

.tec-items i {
    font-size: 1.2rem;
}

.tec-list-item {
    display: flex;
    justify-content: space-around;
    width: 50vw;
}


@media (max-width: 720px) and (min-height: 360px){
    .bio {
        margin-left: 2rem;
        margin-top: -4rem;
        width: 60vw;
    }

    .bio h3 {
        font-size: 3rem;
    }
    
    .bio p{
        font-size: 2rem;
    }

    #About hr {
        margin-top: 12rem;
    }

    .tec-title {
        font-size: 3.5rem;
    }

    .tecnologies {
        height: 15rem;
        margin-left: 0px;
    }

    .tec-items i {
        font-size: 4rem;
        text-align: center;
        margin: 1rem;
        width: 25vw;
        display: flex;
        flex-direction: column;
    }

    #About ul {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .tec-list-item {
        margin-left: 13vw;
    }

    .tec-items li{
        font-size: 3rem;
        text-align: center;
    }
}