.home-container {
    display: flex;
    flex-direction: column;
}


#photo {
    position: absolute;
    max-width: 20rem;
    margin-left: 38rem;
    margin-top: 1rem;
    border: 1px dashed rgb(186, 186, 186);
    padding: 0.5rem;
    border-radius: 40%;
}

.presentation-section {
    height: 11rem;
    margin-left: 7.8rem;
    width: 30rem;
}

.presentation-section h2 {
    margin-top: 3rem;
}

.presentation-section p {
    margin-top: 1rem;
}

.contact-section {
    height: 7rem;
    margin-left: 8rem;
}

.contact-section p{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 1.2vw;
}

.contact-title {
    color: grey;
    padding-bottom: 0.5rem;
}



@media (max-width: 720px) and (min-height: 360px){
    .presentation-section {
        width: 78vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .presentation-section h2 {
        font-size: 6rem;
        margin-top: 112rem;
    }

    .presentation-section p {
        font-size: 3.5rem;
    }

    #photo {
        max-width: 50rem;
        height: 50rem;
        margin-left: 22vw;
    }

    .contact-section {
        margin-top: 60rem;
        display: flex;
        flex-direction: column;
        line-height: 3rem;
    }

    .contact-title {
        font-size: 3rem;
        margin-top: 3rem;
        margin-left: 56vw;
        color: #000;
    }

    .contact-section p{
        font-size: 1.8rem;
        margin-top: -0.5rem;
        margin-left: 49vw;
        text-align: center;
        color: rgb(73, 73, 73);
    }
}