.navbar {
    justify-content: space-between;
    padding: auto;
    margin-bottom: -1rem;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: rgb(108, 108, 108);
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
}